:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: system-ui, -apple-system, sans-serif; 
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
margin: 0;
  padding: 0;
  width: 100%;                  
  background-color: #f8f9fa;
  display: block !important; 
  place-items: start !important; 
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;        
  max-width: none;   
  text-align: left;  
  display: flex;    
  flex-direction: column;
}